header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.8rem;
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    .container{
        @include flex(row, center, space-between);
    }
    &.fixed-menu{
        background-color: #fff;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
        .logo{
            background-image: url(../img/logo-neon-color.svg);
        }
        nav{
            ul{
                li{
                    a{
                        color: #5f5c6b;
                        &:hover{
                            color: #00a5f0;
                        }
                    }
                }
            }
            .btn-secondary{
                color: #00a5f0;
                border: 1px solid #00a5f0;
                &:hover{
                    background-color: #00a5f0;
                    color: #fff;
                }
            }
        }
    }
    .logo{
        display: inline-block;
        width: 132px;
        height: 30px;
        background: url(../img/logo.svg) no-repeat center center;
        background-size: 100%;
        transition: background-image .3s;
    }
    nav{
        position: relative;
        display: flex;
        align-items: center;
        .dropdown{
            position: absolute;
            top: 49px;
            left: -130px;
            width: 100%;
            max-width: 37.3rem;
            background: #fff;
            border-radius: 6px;
            padding: 4rem;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            transform: translateY(20px);
            transition: all .3s;
            &.ativo{
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
            }
            &::after{
                content: '';
                width: 29.3rem;
                height: 5px;
                background: #ffc800;
                border-radius: 12px 12px 0 0;
                position: absolute;
                bottom: 0;
            }
            .item{
                border-radius: 6px;
                cursor: pointer;
                padding: 8px;
                transition: all .3s;
                &:not(:last-child){
                    margin-bottom: 2.8rem;
                }
                &:hover{
                    background-color: rgba(95, 92, 107, 0.062);
                    strong{
                        color: #0073ce;
                    }
                }
                strong{
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #5f5c6b;
                    display: block;
                    margin-bottom: 4px;
                    transition: all .3s;
                    cursor: pointer;
                }
                p{
                    font-size: 1.4rem;
                    line-height: 150%;
                    color: #8c8a97;
                }
            }
        }
        ul{
            display: flex;
            align-items: center;
            margin-right: 5.9rem;
            li{
                &:not(:first-child){
                    margin-left: 4.8rem;
                }
                a{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 125%;
                    color: #fff;
                    transition: all .3s;
                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
    }
    .btn-mobile{
        display: none;
        margin-left: 4rem;
    }
    @include responsivo(1090px){
        nav{
            ul{
                margin-right: 3rem;
                li{
                    &:not(:first-child){
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }
    @include responsivo(991px){
        .logo{
            max-width: 10.8rem;
        }
        nav{
            ul{
                display: none;
            }
            .btn-mobile{
                display: block;
            }
        }
    }
    @include responsivo(480px){
        height: 7.3rem;
        nav{
            .btn-secondary{
                display: none;           
            }
        }
    }
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2022;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 0
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: #fff;
        padding: 3rem;
        transform: translateX(-100%);
        transition: transform .3s;
        .logo{
            max-width: 15rem;
            margin-bottom: 4rem;
        }
        ul{
            li{
                a{
                    padding: 1.5rem 0;
                    display: block;
                    font-size: 1.8rem;
                    color: #5f5c6b;
                }
            }
        }
    }
}

.menu-opened{
    overflow: hidden;
    .menu-mobile{
        opacity: 1;
        pointer-events: all;
        aside{
            transform: translateX(0%);
        }
    }
}